<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Advance Carolina.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D10C06AE1C8E2F92005B6B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D10C06C51C8E2F92005B6B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D10C06D01C8E2F93005B6B23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
